---
import HdudHeader from '@hdud/common/components/Header.astro';
import siteConfig from '@/site.config';
import { getI18n } from '@/i18n/index';
import { getMenus } from '@/config/menus';

const i18n = await getI18n('en', 'design');
const menus = getMenus(i18n('menus'));
---

<HdudHeader
  menus={menus}
  class="max-w-none"
  themes={siteConfig.themes}
  locale="en"
>
  <div class="flex items-center gap-2">
    <a href="/" class="inline-block max-md:hidden xl:hidden">
      <img
        src="/images/hdud-logo.svg"
        alt="HDUD Logo"
        class="size-8 md:size-10 xl:size-12 h-auto"
      />
    </a>
    <span class="max-md:hidden text-md max-md:text-xl xl:text-xl">Designer</span
    >
  </div>
  <div class="flex items-center gap-2" slot="center">
    <a href="/" class="md:hidden xl:block">
      <img
        src="/images/hdud-logo.svg"
        alt="HDUD Logo"
        class="size-8 md:size-10 xl:size-12 h-auto"
      />
    </a>
    <span class="md:hidden text-md xl:text-xl">Designer</span>
  </div>
</HdudHeader>

<style is:global>
  .navbar-end .dropdown.dropdown-center {
    display: none;
  }
</style>
